<!DOCTYPE html>
<html>
<head>
    <title>BooksPortal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style type="text/css">
        {% block style %}{% endblock %}
    </style>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    &nbsp
    <div class="container">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
</body>
</html>