{% extends 'layout.html' %}

{% block style %}
		body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #fff;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 20px;
}

h1.title { 
	font-size: 30px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #d3d3d3;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 700px;
    padding: 40px 40px;
    margin-bottom:5% 
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.btn-file {
            position: relative;
            overflow: hidden;
        }
         
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

{% endblock %}


{% block body %}
	{% from "includes/_formhelpers.html" import render_field %}

	<div class="container">
			<div class="row main">
				<div class="main-login main-center col-lg-6">
					<form class="form-horizontal" enctype=multipart/form-data method="POST" action="">
						
						<div class="form-group">
							{{render_field(form.name,class_='form-control')}}
						</div>

						<div class="form-group">
							{{render_field(form.price,class_='form-control')}}
						</div>

						<div class="form-group">
							{{render_field(form.description,class_='form-control')}}
						</div>

						<div class="form-group">
							{{render_field(form.stock,class_='form-control')}}
						</div>

						<div class="form-group">
							{{render_field(form.category,class_='form-control')}}
						</div>

						<div class="form-group">
                			<label for="txtPost"><b>Photos</b></label>
                			<div class="input-group">
                    			<span class="input-group-btn">
                        			<input class="btn btn-primary btn-file" type="file" id="fileupload" name="image">
                    			</span>
                			</div>
            			</div>
            			
						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Publish</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	
{% endblock %}
